* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	scroll-behavior: smooth;
}

.hero {
    width: 100%;
    height: 100vh;
	background-color:#365bcbb2;
	position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
	overflow: hidden;
}


/*nav*/
.topnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0px;
	background-color: #0533bc72;
	width: 100%;
	margin: auto;
	position: fixed;  
}

.topnav  {
	display: flex;
	list-style: none;
}

.topnav {
	margin: 0px 20px;
	display: inline-block;
	list-style: none;
}

.topnav a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	transition: 0.5s;
	font-weight: bold;

	float: left;
  	display: block;
 	text-align: center;
	padding: 15px 16px;
}

.topnav a:hover {
	color: rgba(255, 255, 2, 0.863);
	background:#0e27e1c7;
	padding: 8px 20px;
	border-radius: 10px;
}

.topnav a.active {
	background:rgba(255, 255, 255, 0.2);
	padding: 8px 20px;
	border-radius: 20px;
}

.logo {
	font-size: 30px;
	text-decoration: none;
	font-weight: 800;
	cursor: pointer;
	transition: 0.5s ease;
	float: right;
	margin-right: 10%;
}

.topnav .logo{
    width: 45px;
}

.logo:hover{
	transform: scale(1.1);
}

.logo  span{
	text-shadow: 0 0 90px var(--main-color);
}


/*video*/
.lc-video{
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: center;
}

@media (min-aspect-ratio: 16/9){
    .lc-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .lc-video{
        width: 100%;
        height: 100%;
    }
}

/*home lc*/
.LC {
	width: 69%;
	height: 21%;
	position: absolute;
	top: 70%;
	left: 400px;
    text-align: center;
}

.LC h1{
	height: 100%;
	position: absolute;
	font-size: 40px;
	color: rgb(255, 255, 255);
    font-weight: 550;
	transition: 0.5s ease;
	background-color: #092488a8;
	padding: 15px;
	border-radius: 10%;
	font-family: Verdana;
}

.LC h1:hover{
	-webkit-text-stroke: 2px rgb(251, 255, 5);
	color: transparent;
}



main {
	padding: 50px 0%;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('lc3bw.jpg');
}

.row:after {
    content: "";
    display: table;
    clear: both;
	padding: 30px;
}

/*vmc*/	
.columnvmc {
	float: left;
    width: 40%;
	text-align: justify;
	text-justify: inter-word;
	border-radius: 15px;
	margin-top: 25px;
	margin-left: 70px;
	background-color: #5771c1da;
	padding: 40px;
	padding-left: 0px;
}

.columnvmc p{
	margin-left: 20px;
	margin-right: 20px;
}

.columnvmc2 {
	float: right;
    width: 40%;
	text-align: justify;
	text-justify: inter-word;
	border-radius: 15px;
	margin-top: 225px;
	margin-right: 70px;
	background-color: #5771c1da;
	padding: 40px;
	padding-left: 0px;
}

.columnvmc2 p{
	margin-left: 35px;
	margin-right: 35px;
}

/*about*/	
.columnabt {
	float: right;
    width: 100%;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 40;
	margin-top: 30px;
	margin-left: 50px;
	background-color: white;
	padding: 65px;
	border-top-right-radius: 35%;
	border-bottom-left-radius: 35%;
}

.row h2{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 20px;
	margin-left: 30px;
	color: #092588;
}

.row p{
	margin-left: 105px;
	margin-right: 105px;
	color: #000000;

}

.row h3{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 20px;
	margin-left: 30px;
	color: #092588;
}

/*programs*/
.columnprgm {
	float: right;
    width: 100%;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 40px;
	margin-top: 40px;
	margin-left: 50px;
	background-color: white;
	padding: 100px;
}

.columnprgm h2{
	text-align: center;
}

.columnprgm h4{
	text-align: center;
	text-decoration: underline;
}

.columnprgm p{
	margin-left: 55px;
	color: #000000;
}

/* collapsible sa course */
.collapse {
	background-color: #678fed;
	color: #000000;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
  
.active, .collapse:hover {
	background-color: #e0e083;
}
  
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #c1bebe4b;
}
	
/*gallery link sa nav wag tagtagin hhahaha*/
.rows:after {
    content: "";
    display: table;
    clear: both;
	padding: 30px;
}


/*lcian color*/
span{
	color: rgb(233, 236, 70);
}


/*rows ng mvc and prog*/
.rows h2{
	margin-bottom: 25px;
	margin-top: 20px;
	margin-left: 30px;
	color: #092588;
}

.rows p{
	margin-left: 55px;
}

/*gallery*/
section .slideshow-container {
	float: center;
    width: 100%;
	text-align: justify;
	text-justify: inter-word;
	background-color: rgba(80, 76, 76, 0.53);
	padding: 65px;
	border: 2px solid white;
}

h2 {
	color: #092588;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
}

/* sldshow container ng pics */
.slideshow-container {
	max-width: 950px;
	position: static;
	margin: auto;
}
  
/*dots sa gallery */
.dot {
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
.active {
	background-color: #363636;
}
  
/* fading anim pics */
.fade {
	animation-name: fade;
	animation-duration: 0.7s;
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}



footer {
	background-color:#1b1b82;
	color: white;
	text-align: center;
	padding: 45px 0;
}

p {
	color: white;
	line-height: 1.6;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right:30px;
}

.lci {
	width: 190px;
	height: 240px;
	float: right;
	margin-right: 60px;
}

.foot h1{
	text-align: left;
	margin-left: 20px;
}

.foot p {
	text-align: left;
	margin-left: 20px;
	margin-top: 90px;
}

.lcicon{
	float: right;
}

.footer-soc p{
	text-align: left;
}

.footer-soc .social-links i{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: white;
	margin:0 0px 10px 0;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	color: #24262b;
	transition: all 0.5s ease;
	float: left;
	margin-left: 20px;
}

.footer-soc .social-links :hover{
	color: rgba(255, 255, 2, 0.863);
	background-color: #24262b;
}

/*nav rspnsv*/
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }

  /*vmc rspnsv*/
@media screen and (max-width: 600px) {
	.columnvmc.responsive {position: relative;}
	.columnvmc.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.columnvmc.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }

  @media screen and (max-width: 600px) {
	.columnvmc2.responsive {position: relative;}
	.columnvmc2.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.columnvmc2.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }